In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load data
candidates_df = pd.read_csv("../data/candidates.csv")

In [15]:
#Get a list of district numbers for each state
states = candidates_df["State"].unique()
states_dists_list = []
for state in states:
    states_dists_list.append({"State":state, "Districts":list(candidates_df[candidates_df["State"]==state]["District Number"].unique())})
states_dists_df = pd.DataFrame(states_dists_list)

In [16]:
states_dists_df.head()

  State                                          Districts
0    AL                              [1, 2, 3, 4, 5, 6, 7]
1    AK                                                [1]
2    AZ                        [1, 2, 3, 4, 5, 6, 7, 8, 9]
3    AR                                       [1, 2, 3, 4]
4    CA  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...

In [20]:
#get candidate who raised most cash
state = "CO"
district = 3
candidates_df[(candidates_df["State"]== state) & (candidates_df["District Number"]== district)]

,Unnamed: 0,Name,Affiliation,Incumbent,Winner,Vote %,Cash Raised,Cash Spent,State,District Number
139,139,Diane Mitsch Bush,D,0,0,45.2,5008274.0,4984238.0,CO,3
140,140,Lauren Boebert,R,0,1,51.4,2989510.0,2632716.0,CO,3
141,141,Chris Milton,3,0,0,1.0,12012.0,12012.0,CO,3