In [1]:
import pandas as pd

In [2]:
candidates = pd.read_csv('../data/candidates.csv', dtype = {'district': 'str'}) # explicitly set district as str so leading 0 is not dropped, other column types are fine

In [3]:
candidates.head()

,state_name,district,candidate_name,party,incumbent,winner,perc_vote,money_raised,money_spent
0,AL,01,Jerry Carl,R,not incumbent,1,64.9,1971321,1859349
1,AL,01,James Averhart,D,not incumbent,0,35.0,80095,78973
2,AL,02,Barry Moore,R,not incumbent,1,65.3,650807,669368
3,AL,02,Phyllis Harvey-Hall,D,not incumbent,0,34.6,56050,55988
4,AL,03,Mike D Rogers,R,Incumbent,1,67.5,1193111,1218564

In [4]:
candidates.info() # confirm all types as desired

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      892 non-null    object
 1   district        892 non-null    object
 2   candidate_name  892 non-null    object
 3   party           892 non-null    object
 4   incumbent       892 non-null    object
 5   winner          892 non-null    int64
 6   perc_vote       892 non-null    float64
 7   money_raised    892 non-null    int64
 8   money_spent     892 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 62.8+ KB

In [5]:
# add column to concat state and district (reduces groupby complexity in analysis)
candidates['state_dist'] = candidates['state_name'] + candidates['district']

candidates.head(1)

,state_name,district,candidate_name,party,incumbent,winner,perc_vote,money_raised,money_spent,state_dist
0,AL,01,Jerry Carl,R,not incumbent,1,64.9,1971321,1859349,AL01

In [9]:
print(candidates['state_name'].nunique())
candidates['state_name'].unique()

# confirms that 50 states are present in the data, and the 2-letter abbreviations are correct

50

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI',
       'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI',
       'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
       'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
       'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)